// Your variable overrides
.h-80 {
  height: 80% !important;
}

.btn-light {
  background-color: $body-color !important;
  color: $body-background-color !important;
  height: $default-control-height !important;
  @include border-radius($default-control-height, $default-control-height);
  &:focus {
    outline: none !important;
    border: unset !important;
  }
  &.disabled {
    background-color: darken($body-color, 20) !important;
  }
}

.btn {
  cursor: pointer;
  text-align: start !important;
  &:focus {
    outline: none !important;
    border: unset !important;
  }
}

.mapboxgl-ctrl-geocoder {
  max-width: unset !important;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: $body-color !important;
  color: $body-background-color !important;
  height: $default-control-height !important;
  @include border-radius($default-radius, $default-radius);
}

.mapboxgl-ctrl-geocoder .suggestions{
  background-color: $body-color !important;
  color: $body-background-color !important;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  background-color: darken($body-color, 12) !important;
  color: $body-background-color !important;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: $body-color !important;
  color: $body-background-color !important;
  &:focus {
    outline: none !important;
    border: unset !important;
  }
}

.suggestions-wrapper {
  cursor: pointer;
  background-color: $body-color !important;
  color: $body-background-color !important;
}

.mapbox-gl-draw_ctrl-draw-btn {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: darken($body-color, 20) !important;
}

.arrow:before {
  border-top-color: darken($body-color, 20) !important;
}

.tooltip .tooltip-inner {
  background-color: darken($body-color, 20) !important;
  color: $body-background-color !important;
}
