// Your variable overrides
$body-background-color:   $gray-800;
$body-color:              $gray-200;

.btn-light {
  &:focus {
    outline: none !important;
    border: unset !important;
  }
}

.btn {
  text-align: start !important;
  &:focus {
    outline: none !important;
    border: unset !important;
  }
}

.mapbox-gl-draw_ctrl-draw-btn {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
}
