@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);
$body-background-color:   #2b2b2b;
$body-color:              #eeeeee;
$gr-color:                #dd9a10;
$default-control-height:  36px;
$round-radius:            36px;
$default-radius:          10px;
$default-padding:         10px;
$roboto:                  Roboto, Helvetica, 'Helvetica Nue', Arial, sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "_custom";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";
@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

html, body {
  font-family: $roboto;
  height: 100%;
  background-color: $body-background-color;
  color: $body-color;
}

#map-holder, #map {
  height: 100%;
  padding-right: $default-padding;
  @include border-radius($default-radius, $default-radius);
}

.start-height-actions, .start-height-map {
  height: 90% !important;
}

.step-height-actions, .step-height-map {
  height: 90% !important;
}

.start-height-actions {
  @media only screen and (max-width: 768px) {
    height: 70% !important;
    max-height: 70% !important;
  }
}

.start-height-map {
  @media only screen and (max-width: 768px) {
    height: 30% !important;
  }
}

.step-height-actions {
  @media only screen and (max-width: 768px) {
    height: 30% !important;
  }
}

.step-height-map {
  @media only screen and (max-width: 768px) {
    height: 70% !important;
  }
}

#map-action-holder, #map-holder {
  margin-top: 24px !important;
  @media only screen and (max-width: 768px) {
    margin-top: 12px !important;
  }
}

#map-action-holder {
  @media only screen and (max-width: 768px) {
    flex: 1 !important;
  }
}

#map-holder {
  @media only screen and (max-width: 768px) {
    margin-top: 12px !important;
  }
}
.steps {
  padding-top: 0px !important;
}

.step-title {
  font-size: 24px;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
  font-weight: 700;
  &.disabled {
    color: darken($body-color, 20) !important;
  }
}

#step-1, #step-2, #step-3 {
  @media only screen and (max-width: 768px) {
    padding-top: .5rem !important;
  }
}

.step-directions {
  font-size: 16px;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
  font-weight: 500;
  &.disabled {
    color: darken($body-color, 20) !important;
  }
}

.step-not-vis {
  @media only screen and (max-width: 768px) {
    display: none !important;
    visibility: hidden !important;
  }
}

.step-button {
  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

#circle-button2 {
  display: none !important;
  background-color: lighten($body-background-color, 12) !important;
  border-color: lighten($body-background-color, 12) !important;
  color: $body-color !important;
  @media only screen and (max-width: 768px) {
    display: block !important;
  }
}

#submit-button {
  font-weight: 700 !important;
  text-align: center !important;
}

#submit-button, #circle-button2 {
  @media only screen and (max-width: 768px) {
    width: 45% !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

.step-minor-directions {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 200;
  @media only screen and (max-width: 768px) {
    padding-top: 6px;
    font-size: 12px;
  }
  &.disabled {
    color: darken($body-color, 20) !important;
  }
}

#study-agreement {
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 6px;
  border: 1px solid $body-color;
  background-color: $body-background-color;
}

::-webkit-scrollbar-thumb {
  background-color: darken($body-color, 40);
  border-radius: 8px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  &:vertical {
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  border: 1px solid $body-color;
  background-color: $body-background-color;
}

::-webkit-scrollbar-track-piece {
  margin-right: 10px;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner {
  display: none;
}
